APP_NAME=<app_name>
SECRET_KEY=<secret_key>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1

POSTGRES_SERVER=<server_address>
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db_name>
POSTGRES_PORT=5432